footer {
  background: #161B28;
  display: flex;
  justify-content: space-between;
}
footer p {
  font-family: 'Lato', sans-serif;
  color: #E5E5E5;
  box-sizing: border-box;
  padding: 2% 0 0 1%;
}
footer img {
  margin: 50%;
}
footer li {
  list-style: none;
  margin: 15px;
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px;
  color: #fff;
}
