* body {
    font-family: Lato, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.15rem;
}

.btn {
    .btn-styler;
    
}

.main-container {
    width: 100%;
}