.banner.home {
    height: 800px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: 100%;

    h2 {
        padding: 50px 30px;
        font-size: 2.5rem;
        font-family: @accent-font;
    }

    p {
        font-size: 1.5rem;
        margin: 0px 0px 50px 30px;
        line-height: 50px;
    }

}