
.btn-styler(@size: @lg-btn) {
    background-color: @navy-blue;
    color: @off-white;
    padding: 10px 15px;
    width: @size;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color 0.2s;
    font-family: @accent-font;

    &:hover {
    background-color: darken(#44bb88, 10%);
    // color: @navy-blue;
    // border: 0.5px solid @accent-color;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    }

    @media @phone {
      width: 100%;
      padding: 25px 0px;
    }
  }