// pointers
    @nav-bg: @navy-blue;
    @nav-font-color: @white;
    @accent-color: @green;

// vars
    @navy-blue: #161B28;
    @green: #44BB88;
    @off-white:#E5E5E5;
    @white: #FFFFFF;
    @beige: #EBEAE0;

// media vars
    @phone: ~"( max-width: 500px )" 
    // @tablet: 