// pointers
    @nav-bg: @navy-blue;
    @nav-font-color: @white;
    @accent-color: @green;
    @accent-font: 'poppins', sans-serif;

// color vars
    @navy-blue: #161B28;
    @green: #44BB88;
    @off-white:#f8f9fa;
    @white: #FFFFFF;
    @beige: #EBEAE0;
    @peach: rgb(27, 27, 27);
// font-size vars
    @logo: 1.75rem;
    @nav-items: 1.03rem;

    @h1: 2rem;
    @h2: 1.75rem;
    @h3: 1.25rem;
    @h4: 1.15rem;
    @h5: 1rem;
    @h6: 0.75rem;

// container vars
    @max-container-width: 1400px;

// media vars
    @laptop: ~"( max-width: 1350px )";
    @phone: ~"( max-width: 600px )";
    // @tablet: 

// button size vars
@sm-btn: 100px;
@med-btn: 200px;
@lg-btn: 300px;